<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shows Edit Page</title>
  </head>

  <body>
    <h1>Show Edit - <%= shows.name %></h1>
    <form method="POST" action="/shows/<%= shows._id %>?_method=PUT">
      <div>
        <label for="name">Tv Show Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= shows.name %>"
          aria-label="Tv Show Name"
        />
      </div>
      <div>
        <label for="isAShow">Is A Show:</label>
        <input type="checkbox" name="isAShow" id="isAShow" <%= shows.isAShow ?
        "checked" : "" %> aria-label="Is A Show" />
      </div>

      <button type="submit">Edit Show</button>
    </form>
  </body>
</html>
